<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <style>
    @page {
      size: A4 landscape;
      margin: 1cm;
    }

    body { font-size: 12px; font-family: Arial, sans-serif; }
    table { width: 100%; border-collapse: collapse; margin-bottom: 10px; }
    td, th { border: 1px solid black; padding: 2px; font-size: 10px; text-align: center; }
    .firma { margin-top: 40px; text-align: center; }
    .sin-borde td { border: none; }
    .small { font-size: 8px; }
  </style>
</head>
<body>

  <!-- ENCABEZADO -->
  <table class="sin-borde">
    <tr>
      <td colspan="2"><img src="generador_pdf/static/logo.jpg" style="width: 120px; height: auto;" /></td>
      <td></td>
      <td>
        <table>
          <tr><td>F/ALM‑002</td><td>V1</td></tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="4"><strong>ACTA DE DESPACHO DE PRODUCTOS – COBEFAR S.A.C.</strong></td>
    </tr>
    <tr>
      <td><strong>FECHA :</strong></td>
      <td>{{ fecha }}</td>
      <td colspan="2"><strong>FACTURA/BOLETA N° :</strong> {{ factura }}</td>
    </tr>
    <tr>
      <td><strong>CLIENTE :</strong></td>
      <td colspan="3">{{ cliente }}</td>
    </tr>
  </table>

  <!-- TABLA DE PRODUCTOS -->
  <table>
    <thead>
      <tr>
        <th>Cantidad Programada</th>
        <th>DESCRIPCION DEL PRODUCTO</th>
        <th>LOTE SERIE</th>
        <th>FECHA VCTO</th>
        <th>NRO R.S.</th>
        <th colspan="2">PROTOCOLO DE ANÁLISIS</th>
        <th colspan="2">CAJAS LIMPIAS</th>
        <th colspan="2">EMBALAJE CERRADO</th>
        <th colspan="2">CONSIGNA CONDICION DE EMBALAJE</th>
        <th>CONDICION ALMACENAMIENTO</th>
        <th colspan="2">MANCHADO DERRAME ARRUGADO QUEBRADO HUMEDO</th>
        <th colspan="2">PRODUCTO CORRESPONDE AL DOCUMENTO</th>
        <th colspan="2">VEHICULO LIMPIO Y EQUIPADO CONDICIÓN ADECUADA</th>
      </tr>
    </thead>
      <tbody>
    {% for item in productos %}
    <tr>
      <td style="padding: 2px;">{{ item.CantidadLote|int }}</td>
      <td style="text-align: left; padding: 2px;">{{ item.NombreComercial or " " }}
          {{ item.Concentracion or " " }}
          {{ item.FormaFarmaceutica or " " }}
          {{ item.FormaPresentacion or " " }}</td>
      <td style="padding: 2px;">{{ item.NroLote }}</td>
      <td style="padding: 2px;">{{ item.Dia }}/{{ item.Mes }}/{{ item.Anio }}</td>
      <td style="padding: 2px;">{{ item.RegistroSanit }}</td>

      <!-- Protocolo -->
      <td style="padding: 0;"><img src="generador_pdf/static/check.png" style="width: 12px; height: 12px; display: block; margin: auto;" /></td>
      <td style="padding: 0;"></td>

      <!-- Cajas Limpias -->
      <td style="padding: 0;"><img src="generador_pdf/static/check.png" style="width: 12px; height: 12px; display: block; margin: auto;" /></td>
      <td style="padding: 0;"></td>

      <!-- Embalaje Cerrado -->
      <td style="padding: 0;"><img src="generador_pdf/static/check.png" style="width: 12px; height: 12px; display: block; margin: auto;" /></td>
      <td style="padding: 0;"></td>

      <!-- Consigna Embalaje -->
      <td style="padding: 0;"><img src="generador_pdf/static/check.png" style="width: 12px; height: 12px; display: block; margin: auto;" /></td>
      <td style="padding: 0;"></td>

      <!-- Condición de Almacen -->
      <td style="padding: 2px;">{{ item.CondicionAlm }}</td>

      <!-- Manchado -->
       <td style="padding: 0;"></td>
      <td style="padding: 0;"><img src="generador_pdf/static/check.png" style="width: 12px; height: 12px; display: block; margin: auto;" /></td>
      
      <!-- Corresponde Documento -->
      <td style="padding: 0;"><img src="generador_pdf/static/check.png" style="width: 12px; height: 12px; display: block; margin: auto;" /></td>
      <td style="padding: 0;"></td>

      <!-- Vehículo Adecuado -->
      <td style="padding: 0;"><img src="generador_pdf/static/check.png" style="width: 12px; height: 12px; display: block; margin: auto;" /></td>
      <td style="padding: 0;"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="sin-borde">
  <tr>
    <td colspan="20" style="text-align:left;"><strong>OBSERVACIONES:</strong> NINGUNA</td>
  </tr>
  <tr>
    <td colspan="20" align="center">
      <img src="generador_pdf/static/FirmaAnthonyAuquipuma.png" style="width: 150px; display: block; margin: auto;" />
    </td>
  </tr>
  <tr>
    <td colspan="20" align="center">-------------------------------------------------</td>
  </tr>
  <tr>
    <td colspan="20" align="center">RESPONSABLE DE ALMACÉN</td>
  </tr>
  <tr>
    <td colspan="20" align="center">(sello y firma)</td>
  </tr>
  <tr>
    <td colspan="20" style="padding:0; border:none;">
      <table width="50%" style="margin: auto; padding-top: 20px; font-size: 7px; border-collapse: collapse;">
        <tr>
          <td style="color: black; border: solid 1px; border-color: black; font-size: 11px; text-align: center;">
            Prohibido reproducir sin autorización de DROGUERÍA COBEFAR
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
